<%= render partial: "shared/merchant_header", object: @merchant, :as => :merchant  %>
<h1>My Discounts</h1>
<% @merchant.discounts.each do |discount| %>
  <div id="discount-<%= discount.id %>">
    <p>
      Get <%= discount.percentage %>% off when you buy
      <%= discount.quantity %> units. 
      <%= link_to "View", "/merchants/#{discount.merchant.id}/discounts/#{discount.id}" %>
      <%= link_to "Delete", "/discounts/#{discount.id}", method: :delete %>

    </p>
  </div>
<% end %>

<h3>Upcoming Holidays:</h3>
<ol>
<% @holidays.each do |holiday| %>
  <li><%= holiday.name %> - 
  <%= holiday.date %></li>
<% end %>
</ol>